body{
    text-align: center;
    background-color: black;
    color: white;
}

canvas{
    border: solid 7px;
    border-color: deepskyblue;
    background-color: darkslategray;
    border-radius: 3%;
}

button{
    color: white;
    margin: 10px;
    border-color: coral;
    font-size: large;
    background-color: transparent;
}

#left, #right{
    border-radius: 100%;
    height: 70px;
    width: 70px;
}

#reset{
    height: 30px;
    width: 150px;
}

button:hover{
    color: black;
    background-color: coral;
}